.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-right: 15px;
}

.profileImageAvatar {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}