body {
    
}

.posts-container {
    margin: 0 auto;
    margin-top: 55px;
    max-width: 600px;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
}

.custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(243, 93, 76);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: rgb(220, 80, 65);
}

.sendPostButton {
    border-radius: 20px;
    margin: 10px;
}

.post-card {
    background-color: #262626;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #333;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.avatar {
    display: flex;
    background-color: rgb(255, 131, 82);
    color: white;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.postContextWrapper {
    margin: auto 15px;
}

.postContextWrapper textarea {
    font-size: 18px;
    width: 95%;
    border-radius: 20px;
    padding: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    color: #fff;
}

.post-time {
    color: #8e8e8e;
    font-size: 12px;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-actions {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.like-btn, .comment-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.post-details {
    padding: 10px;
}

.likes {
    font-weight: bold;
    margin-bottom: 5px;
}

.load-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(255, 122, 82);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: 1s;
}

.load-more-btn:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.custom-file-upload {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}