.trainers-container {
    margin: 0 auto;
    margin-top: 55px;
    max-width: 1200px;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
}

.trainers-container input {
    background-color: rgb(243, 93, 76);
}

.trainer-card {
    background-color: #262626;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #333;
    display: flex;
    flex-direction: row;
    max-height: 300px;
}

.profilePictureContainer {
    flex: 1;
    max-width: 300px;
    max-height: 300px;
    padding: 15px;
}

.trainer-header {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
}

.trainer-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.trainerDescriptionsWrapper {
    flex: 3;
    font-size: 18px;
    padding: 15px;
}

.trainerAvailabilityWrapper {
    flex: 3;
    font-size: 18px;
    padding: 15px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    display: flex;
    justify-content: center;
}

.trainerPriceWrapper {
    flex: 1;
    font-size: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.trainerNameAndButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.chatBtn {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B, #FF2525,#FFE53B);
    cursor: pointer;
    padding-top: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    position: relative;
    background-size: 300%;
    background-position: left;
    transition: 1s;
}
  
.tooltip {
    position: absolute;
    opacity: 0;
    background-color: rgb(255, 180, 82);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    pointer-events: none;
    letter-spacing: 0.5px;
    transition: 1s;
}
  
.chatBtn:hover {
    background-position: right;
    transition: 1s;
}